{% extends "inicio/encabezado.html" %}
{% load static %}

{% block imagen %}
    {% static 'inicio/images/home.png' %}
{% endblock %}

{% block titulo %} PRINCIPAL {% endblock %}
{% block nombre_seccion %}Principal{% endblock %}
{% block breadcrumb %}Principal{% endblock %}

{% block encabezado_pagina %}

<div class="page-header">
    <div class="page-title">
        <h3>Eliminar Comentario</h3>
    </div>
</div>
{% endblock %}  

{% block contenido %}
<form method="Post">
    {%csrf_token%}
    <div class="collout alert-danger fade in">
        <h5>Principal / Eliminar Comentario /</h5>
        <p>¿Está seguro de eliminar el comentario de <strong>eliminar</strong>el 
            comentario selecionado ?</p>
    </div>
    <button type="submit" class="btn btn-danger">si</button>
    <a href="{% url 'consultarComentario' %}" class="btn btn-default">cancelar</a>
</form>
{% endblock %}
