{% extends "inicio/encabezado.html" %}
{% load static %}

{% block imagen %}
    {% static 'inicio/images/home.png' %}
{% endblock %}

{% block titulo %} PRINCIPAL {% endblock %}
{% block nombre_seccion %}Principal{% endblock %}
{% block breadcrumb %}Principal{% endblock %}

{% block encabezado_pagina %}
<!--Encabezado -->
<div class="page-header">
    <div class="page-title">
        <h3>Principal</h3>
    </div>
</div>
<!-- /Encabezado-->
{% endblock %}

{% block contenido %}

<!--Tabla de Alumnos-->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Turno</th>
        </tr>
    </thead>

    <tbody>
        {% for alumno in alumnos %}
        <tr>
            <td class="text-center">

                {% if alumno.imagen %}
                    <img src="{{ alumno.imagen.url }}" alt="" class="img-media" width="80">
                {% else %}
                    <img src="{% static 'inicio/images/default.png' %}" alt="" class="img-media" width="80">
                {% endif %}

            </td>

            <td class="text-semibold">{{ alumno.matricula }}</td>
            <td class="muted">{{ alumno.nombre }}</td>
            <td class="muted">{{ alumno.carrera }}</td>
            <td class="muted">{{ alumno.turno }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!--Tabla de Alumnos-->

{% endblock %}